#first {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  margin-down: 70px;
  background-clip: content-box;
  padding: 10px
}
#second {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  margin-down: 10px;
  background-clip: content-box;
  padding-left: 40px;
  padding-right: 40px;
  padding-down: 25px;
  padding-up: 25px;
}
#third {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  background-clip: content-box;
  padding: 20px
}
#fourth {
  background-color: red;
  width: 65px;
  height: 65px;
  border: 1px solid black;
  margin-left: 10px;
  background-clip: content-box;
  padding: 20px
}
